{% extends 'layouts/Admin.html.twig' %}

    {% block custom_styles %}
        <!-- Datatables -->
        <link href="{{ asset("assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ asset("assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ asset("assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css") }}" rel="stylesheet">
    {% endblock %}

{% block main %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>All Pages</h2>
                <div class="navbar-right">
                    <a href="{{ path('admin_add_role') }}" class="btn btn-success">Add</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="categories_table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>type</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for role in roles %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ role.role_id }}</td>
                            <td>{{ role.role_name }}</td>
                            <td>{{ role.role_type }}</td>
                            <td>

                                {% if role.role_id == 1 or role.role_id == 2 %}
                                    <button class="btn btn-default" disabled >edit</button>
                                {% else %}
                                    <a href="{{ path('admin_edit_role',{'roleId' : role.role_id }) }}">
                                        <button class="btn btn-info" >edit</button>
                                    </a>
                                {% endif %}

                                <a href="{{ path('admin_users_of_role',{'roleId' : role.role_id }) }}"><button class="btn btn-info">users</button></a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_footer_scripts %}
    <!-- Datatables -->
    <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/admin/js/admin-scripts.js') }}"></script>

    <script>
        (function () {
            $('#categories_table').DataTable();
        })();
    </script>
{% endblock %}