{% extends 'layouts/AdminLayout.html.twig' %}

{% block main %}
    <!-- Switchery -->
    <link href="{{ asset("assets/vendors/switchery/dist/switchery.min.css") }}" rel="stylesheet">


    <div class="x_panel">
        <div class="x_title">
            <h2>Add Page
                <small>please complete fields for create a page</small>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br/>
            <form class="form-horizontal form-label-left col-lg-8 center-margin" id="page_form" data-url="{{ page is defined ? path('admin_edit_page',{'pageID' : page.page_id}) : path('admin_add_page')  }}">

                <div class="form-group">
                    <label >Role Name <span class="required">*</span></label>
                    <input type="text" name="role_name" class="form-control" placeholder="Page Title" required="required" value="{{ role.role_name  is defined ? role.role_name : ''}}">
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg submit-tour">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block custom_footer_scripts %}
    <script src="{{ asset('assets/vendors/ckeditor/ckeditor.js') }}"></script>

    <!-- Switchery -->
    <script src="{{ asset('assets/vendors/switchery/dist/switchery.min.js') }}"></script>
    <script>
        $(function () {

            $('#page_form').on('submit', function (e) {
/*
                e.preventDefault();
*/

                for ( instance in CKEDITOR.instances ) {
                    CKEDITOR.instances[instance].updateElement();
                }

                $.ajax({
                    url: $('#page_form').attr('data-url'),
                    method: 'post',
                    data: $('#page_form').serializeArray(),
                    success: function (data) {
                        if(data.status === '1'){
                            $('#page_form').attr('data-url',data.editUrl);
                            $('button[type=submit]').html('Edit');
                            Swal({
                                type: 'success',
                                text: data.message,
                                showConfirmButton: false,
                                html: data.message+'<hr><button class="btn btn-success" id="addNew"><i class="fa fa-plus"></i> Add New Page</button> <button class="btn btn-warning" id="showAll"><i class="fa fa-clone"></i> Show All Pages</button> <button class="btn btn-info" id="mcontinue">Continue Editing</button>',
                                onBeforeOpen: () => {
                                    const content = Swal.getContent();
                                    const $ = content.querySelector.bind(content);
                                    const showAll = $('#showAll');
                                    const addNew = $('#addNew');
                                    const mcontinue = $('#mcontinue');

                                    mcontinue.addEventListener('click', () => {
                                        Swal.closeModal()
                                    });

                                    addNew.addEventListener('click', () => {
                                        window.location.replace("{{ path('admin_add_page') }}");
                                    });

                                    showAll.addEventListener('click', () => {
                                        window.location.replace("{{ path('admin_all_pages') }}");
                                    })
                                }

                            });
                        }else if(data.status === '0'){
                            Swal({
                                type: 'warning',
                                text: data.message
                            });
                        }
                    },
                    error: function (data) {
                        Swal({
                            type: 'warning',
                            text: 'Error'
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}